<div class="m-2">
    <h5 class="fw-bold">Sherwin Williams Company</h5>
    <h6 class="fw-bold">From intern to Chemist Technician</h6>
    <h6 class="fw-bold">July/2011 – December/2019</h6>
    <p>Execution of raw materials, packaging, and finish goods analysis, support to the manufacturing and customer’s claim. Experience in CG and spectrophotometer, direct contact with suppliers, creating methods and certificates, responsible for maintenance of quality control laboratory.</p>
</div>
<div clas="m-2">
    <h5 class="fw-bold">Arkema Coatex</h5>
    <h6 class="fw-bold">Application and Development Chemist Jr</h6>
    <h6 class="fw-bold">January/2020 – April/2022</h6>
    <p>Execution of acrylic thickener and acrylic dispersant agent synthesis to use in products from coatings, construction, textile, total care, agro, PSA, mineral processing to paper segments. Technology transfer from the main site to Brazil, evaluate new raw materials aiming performance improvement or cost reduction, support of manufacturing batches, application of our products in customer’s bases, support to the customer. Experience in equipment as rheometers, HPLC, GC, laboratory management.</p>
</div>
