<div id="bio">
    <div class="d-flex align-items-center justify-content-center flex-row-reverse" style="background-color: rgba(255, 255, 255, 0.501);">
        <div class="p-4 m-4 rounded-4 w-75" style="font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: rgba(255, 255, 255, 0.878);">
            <nav class="navbar">
                <div class="container-fluid justify-content-center">                    
                    <div><button routerLink='/education'
                        routerLinkActive='active' class="btn btn-warning m-1" (click)="changeDisplay()">Education</button></div>
                    <div><button routerLink='/workexperience'
                        routerLinkActive='active' class="btn btn-warning m-1" (click)="changeDisplay()">Work Experience</button></div>
                    <div><button class="btn btn-warning m-1" routerLink='/skills'
                        routerLinkActive='active' (click)="changeDisplay()">Skills</button></div>
                    <div><button routerLink='/hobbies'
                        routerLinkActive='active' class="btn btn-warning m-1" (click)="changeDisplay()">Hobbies</button></div>
                </div>
            </nav>            
            <div class="d-flex justify-content-center align-items-center" style="min-height: 350px;">
                <h5 [style.display]= 'infoDisplay' >Select the button to get the info</h5>
                <div [ngClass]="{'w-100': infoDisplay === 'none'}">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="m-2">
            <img class="mw-100 myself" src="../../assets/images/leo.png" alt="myself">
        </div>
    </div>
</div>



