<div id="bio">
    <div class="d-flex align-items-center justify-content-center flex-row-reverse">
        <div class="p-2 m-1 rounded-4 w-75" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">            
        <nav class="navbar navbar-expand-lg justify-content-center">
            <div class="container-fluid">                  
                <button class="navbar-toggler btnstd" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <button routerLink='/education'
                    routerLinkActive='active' class="btn m-1 btnstd" (click)="changeDisplay()">Education</button>
                    </li>
                    <li class="nav-item">
                    <button routerLink='/workexperience'
                    routerLinkActive='active' class="btn btnstd m-1" (click)="changeDisplay()">Work Experience</button>
                    </li>
                    <li class="nav-item">
                    <button class="btn btnstd m-1" routerLink='/skills'
                    routerLinkActive='active' (click)="changeDisplay()">Skills</button>
                    </li>
                    <li class="nav-item">
                    <button routerLink='/hobbies'
                    routerLinkActive='active' class="btn btnstd m-1" (click)="changeDisplay()">Hobbies</button>
                    </li>
                </ul>
                </div>
            </div>
            </nav>            
            <div class="d-flex justify-content-center align-items-center" style="min-height: 350px;">
                <div class="infoName m-3" [style.display]='infoDisplay'>
                    <h1>I'm Leonardo</h1>
                    <h1>Nunes</h1>
                    <h2>Software</h2>
                    <h2>Developer</h2>
                </div>
                <div [ngClass]="{'w-100': infoDisplay === 'none'}">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="m-2">
            <img class="mw-100 myself" src="assets/images/leo.png" alt="myself">
        </div>
    </div>
</div>



