.myself {
    display:none;
 }
 
 @media (min-width:576px){
    .myself{
       display:block;
    }
 }

 button{
    width:150px;
    max-width: 100%;
    height:70px;
    max-height: 100%;
 }

.education{
    display: none;
}