<div>
    <div class="d-flex align-items-center flex-row-reverse" style="background-color: rgba(255, 255, 255, 0.501);">
        <div class="p-4 m-4 rounded-4 w-75" style="font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: rgba(255, 255, 255, 0.878);">
            <nav class="navbar">
                <div class="container-fluid justify-content-center">
                    <div><button class="btn btn-warning m-1">Bio</button></div>
                    <div><button class="btn btn-warning m-1">Education</button></div>
                    <div><button class="btn btn-warning m-1">Professional Experience</button></div>
                    <div><button class="btn btn-warning m-1">Skills</button></div>
                </div>
            </nav>            
            <div class="d-flex justify-content-center align-items-center" style="min-height: 350px;">
                <h5>Select the button to get the info</h5>
                <div class="education">
                    <ul>
                        <li>
                            Chemistry
                        </li>
                        <li>
                            Business Administration
                        </li>
                        <li>
                            Software Engineering
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-2">
            <img class="mw-100 myself" src="../../assets/images/leo.png" alt="myself">
        </div>
    </div>
</div>


