
<table class="table table-borderless">
    <thead>
        <tr>
            <th>Course</th>
            <th>University</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Chemistry</td>
            <td>Faculdades Oswaldo Cruz</td>
            <td>4 years</td>
        </tr>
        <tr>
            <td>Business Administration</td>
            <td>Fundação Getulio Vargas</td>
            <td>1.5 years</td>
        </tr>
        <tr>
            <td>Software Engineering</td>
            <td>Centennial College</td>
            <td>2 years</td>
        </tr>
    </tbody>
</table>

