<table class="fullScreen table text-center">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Beginner</th>
            <th>Intermediate</th>
            <th>Advanced</th>
            <th>Expert</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5">Front-End</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
        </tr>
        <tr>
            <td>CSS</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
        </tr>
        <tr>
            <td>Bootstrap</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
        </tr>
        <tr>
            <td>Angular</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Java Script</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">Database Management</td>
        </tr>
        <tr>
            <td>SQL/PLSQL</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
        </tr>
        <tr>
            <td>MongoDB</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">Backend</td>
        </tr>
        <tr>
            <td>NodeJS</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Python</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>C#</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Java</td>
            <td><span>&#10003;</span></td>
            <td><span>&#10003;</span></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="table text-center mobile">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Level</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">Front-End</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td><span>&#10003;&#10003;&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>CSS</td>
            <td><span>&#10003;&#10003;&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>Bootstrap</td>
            <td><span>&#10003;&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>Angular</td>
            <td><span>&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>Java Script</td>
            <td><span>&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td colspan="2">Database Management</td>
        </tr>
        <tr>
            <td>SQL/PLSQL</td>
            <td><span>&#10003;&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>MongoDB</td>
            <td><span>&#10003;&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td colspan="2">Backend</td>
        </tr>
        <tr>
            <td>NodeJS</td>
            <td><span>&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>Python</td>
            <td><span>&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>C#</td>
            <td><span>&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>Java</td>
            <td><span>&#10003;&#10003;</span></td>
        </tr>
    </tbody>
</table>

<table class="mobile">
    <thead>
        <tr>Level</tr>
        <tr></tr>
    </thead>
    <tbody>
        <tr>
            <td>Beginner</td>
            <td><span>&#10003;</span></td>
        </tr>
        <tr>
            <td>Intermediate</td>
            <td><span>&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>Advanced</td>
            <td><span>&#10003;&#10003;&#10003;</span></td>
        </tr>
        <tr>
            <td>Expert</td>
            <td><span>&#10003;&#10003;&#10003;&#10003;</span></td>
        </tr>
    </tbody>
</table>
